h3{
	/*color: #fff;*/
	text-align: center;
	padding-top: 500px;
}
.cont1{
	margin: 0 auto;
	float: left;
}
.cont2{
	margin: 0 auto;
	float: left;
}
.cont3{
	margin: 0 auto;
	float: left;
}
.cont4{
	margin: 0 auto;
	float: left;
}
.cont5{
	margin: 0 auto;
	float: left;
}
/*.slider{
	overflow: hidden;
	margin-left: 70px;
}
.slider figure{
    margin: 0;
    left: 0;
    position: relative;
    animation: 15s slider infinite;
}
.slider figure img{
	float: left;
}
@keyframes slider{
0%{
        left: 0;
    }
20%{
        left: 0;
    }
25%{
        left: -100%;
    }
45%{
       left: -100%;
}
50%{
    left: -200%;
}
70%{
    left: -200%;
}
75%{
    left: -300%;
}
95%{
    left: -300%;
}
100%{
    left: -400%;
}*/